@charset "utf-8";
@import url('../font/pretendard/stylesheet.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


body {
    font-family: 'Pretendard';
    font-weight: 400;
    color: #111;
}


.section {
    padding: 196px 0;
}


.inner {
    padding: 0 65px;
}


.section .title h3 {
    font-size: 51px;
    font-weight: 700;
    line-height: 65px;
}


.section .title p {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.5;
}

.header {
    height: 90px;
    position: fixed;
    /* 변경: 헤더를 고정시킴 */
    top: 0;
    left: 0;
    /* 변경: 왼쪽 위치를 0으로 수정 */
    z-index: 10;
    width: 100%;
    /* 변경: 화면 가로 너비를 100%로 설정 */
    transition: background-color 0.3s ease-in-out;
    background-color: transparent;
    /* 초기 배경색 */
}

.header.fixed {
    background-color: white;
    /* 스크롤 시 배경색 변경 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header .inner {
    width: 1800px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
}

.header .inner .logo img {
    display: block;
    width: 115px;
    height: 100%;
    margin-left: 5px;
}

.header .inner .nav {}

.header .inner .nav .gnb {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    gap: 70px;
    margin-right: 50px;
    color: white;
}

.header .inner .nav .gnb li:hover {
    color: #c82014;
}

.main_visual {
    height: 100vh;
    position: relative;
}

.main_visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.main_visual .text {
    width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main_visual .text h2 {
    font-size:60px;
    line-height: 1.4;
    color: white;
    font-weight: 700;
}

.video_bm {
    width: 100%;
    height: 83px;
    position: absolute;
    /* 변경: 동영상 영역 내에서만 고정 */
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.38);
    color: white;
    padding: 30px 100px;
}

.video_bm p,
.video_bm span {
    display: inline-block;
    margin-right: 10px;
}

.video_bm p {
    font-size: 22px;
    font-weight: 600;
}

.video_bm span {
    font-size: 22px;
    color: #ffffff60;
}

.video_bm img {
    width: 31px;
    height: 31px;
    margin-left: auto;
}







.section-01 .title {
    display: flex;
    letter-spacing: -.05em;

}

.section-01 .title h3 {
    
    font-size: 50px;
    font-weight: 700;
    width: 50%
}

.section-01 .title p {
    font-size: 30px;
    width: 50%;
    padding-left: 49px;
}

.section-01 .image {
    margin-top: 135px;
    border-radius: 16px;
    overflow: hidden;
    /* 부모영역에 레디어스 주면 얘를 해줘야 적용됨 */
}

.section-01 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* section-02 */
.section-02 {
    position: relative;
    overflow: hidden;
}


.section-02 .swiperSection02 .swiper-slide h3 {
    font-size: 51px;
}

.section-02 .swiperSection02 .swiper-slide p {
    font-size: 30px;
    margin-top: 49px;
    width: 900px;
}


.section-02 .section-02_inner {
    padding-left: 65px;
    margin-right: -15%;
}

.section-02 .section-02_inner .swiper {
    padding-right: 65px;
    overflow: visible;
}


.section-02 .section-02_inner .swiper-slide.title {
    width: 926px !important;
}

.section-02 .section-02_inner .swiper-slide.title p {
    margin-top: 49px;
}

.section-02 .section-02_inner .swiper-slide .image {
    border-radius: 26px;
    overflow: hidden;

}

.section-02 .section-02_inner .swiper-slide img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    filter: brightness(0.75);

}

.section-02 .section-02_inner .swiper-slide .default-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px 39px;


}

.section-02 .section-02_inner .swiper-slide .default-text p {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}


.section-02 .section-02_inner .swiper-slide .hover-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 32px 39px;
    display: none;
  
}





.section-02 .section-02_inner .swiper-slide .hover-text p {
    font-size: 29px;
    line-height: 1.5;
    color: #fff;


}

.section-02 .section-02_inner .swiper-slide .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-02 .section-02_inner .swiper-slide:hover .image img {
    filter: brightness(0.5) blur(16px);
    backdrop-filter: brightness(0.7) blur(39px);
}


.section-02 .section-02_inner .swiper-slide:hover .default-text {
    display: none;
}

.section-02 .section-02_inner .swiper-slide:hover .hover-text {
    display: block;
}

.section-02 .swiper-button-next {
    width: 81px;
    height: 81px;
    top: auto;
    bottom: 100px;
    right: 147px;
    background: url('../img/_ArrowRightNone.svg') center center / 100% no-repeat;
}

.section-02 .swiper-button-prev {
    width: 81px;
    height: 81px;
    left: auto;
    right: 228px;
    top: auto;
    bottom: 100px;
    background: url('../img/_ArrowLeftNone.svg') center center / 100% no-repeat;
}



.section-02 .swiper-button-prev:after {
    display: none;
}

.section-02 .swiper-button-next:after {
    display: none;
}


/* section-03 */

.section-03 .inner {
    display: flex;
}


.section-03 .inner .text_wrap {
    width: 41%;


}


.section-03 .inner .text_wrap .title h3 {
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
}

.section-03 .inner .text_wrap .title p {
    font-size: 30px;
    line-height: 1.5;
    margin: 49px 0;
}

.section-03 .inner .text_wrap .text div p {
    font-size: 24px;
    font-weight: 600;
    color: #919191;
    margin-top: 49px;
}

.section-03 .inner .text_wrap .text div b {
    font-size: 51px;
    font-weight: 700;
    line-height: 65px;
    ;

}


.section-03 .inner .image {
    width: 59%;
}

.section-03 .inner .image img {
    width: 100%;
}



.brand_section .item_wrap {
    background-color: white;
    color: #000;
    padding: 100px 150px;
    /* 좌우 패딩을 조정하여 가운데 정렬 */
    display: flex;
    flex-wrap: nowrap;
    /* 줄 바꿈 없이 한 줄에 배치 */
    justify-content: space-between;
    /* 좌우로 정렬 */
    align-items: center;
    /* 세로 중앙 정렬 */
    gap: 50px;
    /* 요소 간 간격 */
    margin-bottom: 100px;
}

.brand_section .item_wrap .item {
    flex: 1;
    /* 각 아이템이 동일한 너비를 가짐 */
}

.brand_section .item_wrap .item .text h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.brand_section .item_wrap .item .text p {
    font-size: 30px;
    text-align: left;
}


.mySwiper2 .swiper-wrapper img{
    border-radius: 24px;
}

.swiper-slideswiper .image img {
    width: 100%;
    /* 각 슬라이드 안에서 이미지를 꽉 채워서 보이도록 설정 */
    height: auto;
    /* 비율 맞춰서 이미지가 왜곡되지 않게 */

}

.swiper.mySwiper2 .swiper-wrapper {
margin-bottom: 200px;
transition: linear;

}


/* swiper mySwiper2에 속한 슬라이드 이미지 스타일 */
.swiper.mySwiper2 .swiper-slide img {
    width: 100%;
    height: auto;
    display: block;
}

/* swiper mySwiper2의 로고 오버레이 스타일 */
.swiper.mySwiper2 .logo-overlay {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.swiper.mySwiper2 .logo-overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#main-sec06 {
    background-color: #000; 
}

#main-sec06 .sec-title {
    color: white; 
    font-size: 50px; 
    text-align: center;
    line-height: 1.5;
    padding-top:150px;
}


.marquee-container {
    padding-top: 300px ; 
    padding-bottom: 100px;
    overflow: hidden; 
    position: relative;
    
}

.marquee span img {
    width: auto;
    height: 40px;
    margin-right: 50px; 
    object-fit: cover; 
    margin-bottom: 30px;

}

.marquee{
    display: flex;
    animation: marquee-forward 8s linear infinite; 
}

.marquee--backwards {
    animation: marquee-backward 8s linear infinite; 
}

@keyframes marquee-forward {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee-backward {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}


.notice_section .item_wrap {
    background-color: white;
    color: #000;
    padding: 250px 50px 0px 50px;

    /* 좌우 패딩을 조정하여 가운데 정렬 */
    display: flex;
    flex-wrap: nowrap;
    /* 줄 바꿈 없이 한 줄에 배치 */
    justify-content: space-between;
    
    align-items:first baseline;
    gap: 50px;
    /* 요소 간 간격 */
    margin-bottom: 100px;
}

.notice_section .item_wrap .item {
    flex: 1;
    /* 각 아이템이 동일한 너비를 가짐 */
}

.notice_section .item_wrap .item .text1 h2 {
    font-size: 50px;
    font-weight: 700;
    text-align: left;
}

.notice_section .item_wrap .item .text p {
    font-size: 30px;
    text-align: left;
}

.notice_section .item_wrap .item .text2 {
    width: 1200px;
}

.notice_section .item_wrap .item .text2 .text-group {
    border-top: 1px solid #000; /* 기본 실선 추가 */
    padding: 45px 10px; /* 텍스트와 실선 간격 추가 */
}

.notice_section .item_wrap .item .text2 .text-group:first-child {
    border-top: 5px solid #000; /* 첫 번째 text-group의 실선은 두껍게 설정 */
    padding-top: 50px; /* 첫 번째 텍스트와 실선 간격을 더 넓게 설정 */
}

.notice_section .item_wrap .item .text2 .text-group .text-1,
.notice_section .item_wrap .item .text2 .text-group .text-3,
.notice_section .item_wrap .item .text2 .text-group .text-5,
.notice_section .item_wrap .item .text2 .text-group .text-7 {
    color: black;
    font-weight: bold;
    font-size: 30px; /* 텍스트 크기 20px */
    margin-bottom: 10px;
}

.notice_section .item_wrap .item .text2 .text-group .text-2,
.notice_section .item_wrap .item .text2 .text-group .text-4,
.notice_section .item_wrap .item .text2 .text-group .text-6,
.notice_section .item_wrap .item .text2 .text-group .text-8 {
    font-size: 20px; /* 텍스트 크기 18px */
    color: #919191; /* 색상 #919191 */
}




/* footer */
.footer {
    background-color: #f5f5f5;
    position: relative;
}

.footer .ft_nav ul {
    display: flex;
}

.footer .ft_nav ul li {
    width: 50%;
    background-color: #000;
    color: #fff;
    font-weight: 600;
    font-size: 29px;
    text-align: center;
    transition: background-color 0.2s;

}

.footer .ft_nav ul li a {
    display: block;
    padding: 48px 0;

}

.footer .ft_nav ul li:hover {
    background: #c82014;
}

.footer .inner {
    padding: 63px 65px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.footer .inner .info_wrap {
    font-size: 19px;
    color: #919191;
    line-height: 1.8;
}


.footer .inner .info_wrap .logo {
    font-weight: 700;
}

.footer .inner .info_wrap ul {
    display: flex;
    gap: 16px;
}

.footer .inner .info_wrap ul li {
    position: relative;
}

.footer .inner .info_wrap ul li::before {
    content: '';
    width: 1px;
    height: 19px;
    background-color: #919191;
    position: absolute;
    top: 50%;
    right: -8px;
    transform: translateY(-50%);
}

/* footer  글자 영역 나누는 선 */


.footer .inner .info_wrap ul li:last-child::before {
    display: none;
}

.footer .inner .info_wrap .before_none li:last-child:before {
    display: none;
}


.footer .inner .info_wrap .before_none li::before {
    display: none;
}


.footer .inner .info_wrap .before_none li a {
    font-weight: 700;
    text-decoration: underline;
}


.footer .inner .info_wrap .ft_menu {
    margin-top: 17px;
}

.footer .inner .info_wrap .ft_menu li {
    font-weight: 600;
}

.footer .inner .info_wrap .ft_menu li:first-child {
    color: #000;
}



.footer .inner .family_site {
    width: 229px;
    position: relative;

}

.footer .inner .family_site .btn {
    width: 100%;
    height: 49px;
    border: 1px solid #bbb;
    border-radius: 5px;
    background-color: #fff;
    background: url('../img/plusBtn.webp') right 24px center / 12px no-repeat #fff;
    text-align: left;
    padding: 0 24px;
    font-size: 16px;
    font-family: 'Pretendard';



}



.footer .inner .family_site ul {
    background-color: #fff;
    position: absolute;
    bottom: 55px;
    left: 0;
    width: 100%;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: none;

}

.footer .inner .family_site ul li {
    padding: 9px 19px;
    color: #212529;
    font-size: 16px;
    line-height: 1.8;
   
}


.footer .inner .family_site ul.active {
    display: block;
}


.top_btn {
    width: 65px;
    position: fixed;
    bottom:50px;
    right: 50px;
    z-index: 999;

}


.top_btn img {
    width: 100%;
   
}


.top_btn.active{
    position: absolute;
    bottom: auto;
    top: -100px;
    
}


